<form method="post" action="{{ path('dtb_delete', {'id': dtb.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dtb.id) }}">
    <button class="btn">Delete</button>
</form>
