{% extends 'base.html.twig' %}

{% block title %}Edit Dtb{% endblock %}

{% block body %}
    <h1>Edit Dtb</h1>

    {{ include('dtb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dtb_index') }}">back to list</a>

    {{ include('dtb/_delete_form.html.twig') }}
{% endblock %}
